@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-family-default: "Open Sans", sans-serif;
  --font-family-secondary: "Raleway", sans-serif;

  --font-size-100: 0.5rem;
  --font-size-200: 0.625rem;
  --font-size-300: 0.75rem;
  --font-size-400: 0.875rem;
  --font-size-500: 1rem;
  --font-size-600: 1.125rem;
  --font-size-700: 1.25rem;
  --font-size-800: 1.5rem;
  --font-size-900: 2rem;
  --font-size-1000: 2.5rem;

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --border-round-sm: 0.25rem;
  --border-round-md: 0.5rem;
  --border-pill: 999rem;

  --color-blue-100: hsl(219, 30%, 18%);
  --color-blue-200: hsl(217, 27%, 15%);
  --color-blue-300: hsl(217, 27%, 13%);
  --color-blue-400: hsl(215, 52%, 9%);
  --color-error: hsl(0, 100%, 63%);
  --color-accent-01: hsl(198, 60%, 50%);
  --color-accent-02: hsl(176, 68%, 64%);
  --color-button-hovered: hsl(186, 61%, 72%);
  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-200: hsl(243, 87%, 12%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-default);
  font-size: var(--font-size-400);
  line-height: 1.5;
  color: var(--color-neutral-100);
  background-color: var(--color-blue-300);
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

.header {
  padding: 1.5rem 1.25rem;
}

.header__nav,
.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: inline-block;
  min-height: 24px;
  min-width: 80px;
  background-image: url("./images/logo.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.header__list {
  column-gap: 1.5rem;
  padding-right: 0.25rem;
}

.header__link {
  display: block;
  font-size: var(--font-size-300);
  line-height: 1.1667;
}

.header__link:hover {
  font-weight: var(--font-weight-bold);
  text-decoration: underline;
}

@media only screen and (min-width: 1024px) {
  .header {
    margin-top: 3.125rem;
    padding-inline: 5rem;
  }

  .header__logo {
    min-height: 52px;
    min-width: 176px;
  }

  .header__list {
    column-gap: 3.625rem;
    padding-right: 0;
  }

  .header__link {
    font-size: var(--font-size-500);
    line-height: 1.1875;
  }
}
